/*Ageitar a responsividade depois*/

/*Geral===========================================================================================================*/
:root{
    --green:#1b4b1b;
    --light-green: #09c528;
    --dark-grey: #4e4d4d;
    --light-grey: #969292;
    --ciane: rgb(195, 235, 207);
     
}

*{
    padding: 0;
    margin: 0;
}

/*Header==========================================================================================================*/
header{
    width: 100%;
    height: 200px;
    background: var(--green);
    display: inline-flex;
}

#nome-blog-container{
    margin: 2.5rem 21.5rem 0 8rem;
}

#logo-marildas-container{
    margin: 1.5rem 17rem 0 0rem;
    width: 150px;
    height: 150px;
}

#logo-marildas-container img{
    width: 100%;
    height: 100%;
}

#search-button-container{
    margin: 5.5rem 1.5rem 0 0;
}

#search-button-container button{
    padding: 0rem 0.5rem 0.1rem 0.5rem;
    border: 1px solid white;
    border-radius: 0.25rem;
    color: white;
    background: var(--green);
}

#search-button-container button:hover{
    color: rgb(8, 8, 8);
    background: white;
    border: 1px solid black;
}

#subscribe-button-container{
    margin: 5.5rem 0 0 0;
}

#subscribe-button-container button{
    padding: 0rem 0.5rem 0.1rem 0.5rem;
    border: 1px solid white;
    border-radius: 0.25rem;
    color: white;
    background: var(--green);
}

#subscribe-button-container button:hover{
    color: rgb(8, 8, 8);
    background: white;
    border: 1px solid black;
}

/*NavBar==========================================================================================================*/
#narbar-buttons-container{
    margin-top: 1rem;
    margin-left: 26.8rem;
    width: 26.1%;
    text-align: center;
}

#home-link{
    margin: 0 1rem 0 0;
    padding: 0 0.5rem 0 0.5rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    color: black;
    background: white;
}

#home-link:hover{
    color: black;
    background: var(--ciane);
    border: 1px solid black;
    padding: 0 0.5rem 0 0.5rem;
}

#community-link{
    margin: 0 1rem 0 0;
    padding: 0 0.5rem 0 0.5rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    color: black;
    background: white;
}

#community-link:hover{
    color: black;
    background: var(--ciane);
    border: 1px solid black;
    padding: 0 0.5rem 0 0.5rem;
}

#bio-link{
    padding: 0 0.5rem 0 0.5rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    color: black;
    background: white;
}

#bio-link:hover{
    color: black;
    background: var(--ciane);
    border: 1px solid black;
    padding: 0 0.5rem 0 0.5rem;
}

#home-link-in-that-page{
    color: black;
    background: var(--ciane);
    border: 1px solid black;
    padding: 0 0.5rem 0 0.5rem;
}

#community-link-in-that-page{
    color: black;
    background: var(--ciane);
    border: 1px solid black;
    padding: 0 0.5rem 0 0.5rem;
}

#bio-link-in-that-page{
    color: black;
    background: var(--ciane);
    border: 1px solid black;
    padding: 0 0.5rem 0 0.5rem;
}

/*Body of the Page Recipes/Home===================================================================================*/
#most-popular{ 
    margin-top: 1rem;
    border-radius: 0.5rem;
    background: var(--green);
}

#most-popular #image-most-popular img{  
    width: 53%;
    height: 25rem;
    margin-left: 50%;
    margin-top: -17.5rem;
    margin-bottom: -2rem;
    border-radius: 0.25rem;
}

.Recipe-container{
    opacity: 0;
}

.Recipe-container.actived{
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    opacity: 1;
    
}

.backgroud-recipe-container.actived{
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    background: black;
    opacity: 0.7;
}

#Recipe-centre-conatainer{
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-top: 10%;
    background: white;
    display: inline-flex;
    position: absolute;
    border-radius: 0.5rem;
    border: 1px solid rgb(78, 55, 25);

}

#Recipe-Text-container{
    text-align: center;
    width: 50%;
    height: 100%;
    border: 1px solid rgb(78, 55, 25);
}

div.Recipe-container div#Recipe-centre-conatainer div#Recipe-Text-container h3{
    margin-top: 1rem;
    text-decoration-line: underline;
}

div.Recipe-container div#Recipe-centre-conatainer div#Recipe-Text-container div#p-container{
    text-align: justify;
    width: 80%;
    margin: 5% 10% 5% 10%;
}

#Recipe-Image-container{
    width: 50%;
    height: 100%;
}

#Recipe-Image-container img{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(78, 55, 25);
    border-radius: 0 0.5rem 0.5rem 0;
}

#Get-out-button{
    width: 5rem;
    height: 5rem;
    margin: 3.5% 0 -6.5% 94%;
}

#Get-out-button img{
    width: 3rem;
    height: 3rem;
    position: absolute;
}

/*Body of the Page Community================================================================================================*/
.centre-container{
    text-align: center;
    width: 60%;
    margin-left: 20%;
}

#left-container{
    width: 25%;
    height: 9.5rem;
    margin-top: 4rem;
    padding: 0 2rem 0 2rem;
    position: absolute;
    margin-left: 5%;
    margin-top: 0rem;
    border: 2px solid rgb(226, 225, 225);
    border-radius: 1rem 0rem 1rem 1rem;
}

#new-publication{
    width: 50%;
    text-align: center;
    margin-left: 25%;
}

#new-publication a{
    color: rgb(128, 125, 125);
    border: 1px solid rgb(128, 125, 125);
    border-radius: 0.25rem;
    padding: 0.5rem 2rem;
}

#new-publication a:hover{ 
    background: rgb(128, 125, 125);
    color: white;
}

#mambrane-se-logo-marilda{ 
    width: 8rem;
    height: 3rem;
}

#mambrane-se-logo-marilda img{ 
    width: 100%;
    height: 100%;
    margin: 0 1rem 0 0.5rem;
}

#mambrane-se-text{ 
    margin-left: 1rem;
    justify-content: space-around;
}

#mambrane-se-container{ 
    width: 100%;
    height: 4rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    display: inline-flex;
    align-items: center;
}

#title-publication-community{ 
    margin-top: 2rem;
    text-align: left;
    margin-left: 24%;
}

.card{
    width: 50%;
    margin-left: 24%;
    text-align: left;
}

.user-perfil-infomation{
    text-align: left;
    display: inline-flex;
    align-items: center;
}

.container-photo-user{
    width: 4rem;
    height: 4rem;
}

.container-photo-user img{
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    margin: -0.25rem 0 0.25rem -0.25rem;
}

.publications-options-bar{
    display: inline-flex;
    justify-content: center;
}

.like-button{
    margin: 0 5rem 0.25rem 0;
    
}

.comment-button{
    margin: 0 0 0.25rem 5rem;
    
}

/*Body of the Page Bio======================================================================================================*/
#nexter-container{
    width: 100%;
    display: inline-flex;
}

#Bio-text-container{
    width: 60%;
    height: 100%;
    margin-left: 25%;
    text-align: justify;
}

#nexter-container #Bio-text-container h5, #nexter-container #Bio-text-container h6, #nexter-container #Bio-text-container nav{
    text-align: center;
}

#container-social-medias{
    text-align: center;
    margin-left: 15%;
}

/*Logos(Social Medias) & Linkes===================================================================================*/
.linkes{
    text-decoration: none;
    color: var(--green);
}

.linkes:hover{
    color: var(--light-green);
}

.btn{
    color: var(--green);
}

.social-media-logo{
    width: 4rem;
    height: 2rem;
    margin: 1rem 0 1rem -4rem;
    padding: 0;
    display: inline-flex;
    align-items: center;
}

#instagram-logo, #twitter-logo, #facebook-logo{
    width: 50%;
    height: 100%;
}

#InstaName{
    margin-left: 1rem;
}

#TtName{
    margin-left: 1rem;
}

#FaceName{
    margin-left: 1rem;
}

/*Thumbs==========================================================================================================*/
.card-img-top, .card-img-bottom{
    width: 10rem;
    height: 30rem;
}

.card{
    margin-top: 2.5rem;
}

/*Posts===========================================================================================================*/
.blog-post-meta{
    justify-content: left;
}

/*Footer==========================================================================================================*/
footer{
    color: rgb(60, 119, 121);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    opacity: 0.5;
}
