/*Ageitar a responsividade depois*/

/*Geral===========================================================================================================*/
:root{
    --green:#1b4b1b;
    --light-green: #09c528;
    --dark-grey: #4e4d4d;
    --light-grey: #969292;
    --ciane: rgb(195, 235, 207);
     
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Courgette', cursive;
}

/*Header==========================================================================================================*/
header{
    width: 100%;
    height: 200px;
    background: var(--green);
    display: inline-flex;
}

#nome-blog-container{
    width: 33%;
    height: 50%;
    margin-top: 50px;
}

#nome-blog-container h1{
    width: 17%;
    height: 100%;
    margin-left: 33%;
    font-family: 'Satisfy', cursive;
    font-size: 100px;
    color: white;
}

#logo-marildas-container{
    margin: 0;
    width: 33%;
    height: 150px;
}

#logo-marildas-container img{
    width: 150px;
    height: 150px;
    margin-left: 36%;
    margin-top: 25px;
}

#Header-Buttons-Container{
    width: 20%;
    display: inline-flex;
}

#search-button-container{
    margin: 5.5rem 1.5rem 0 0;
}

#search-button-container a{
    width: 10px;
    padding: 0rem 0.5rem 0.1rem 0.5rem;
    border: 1px solid white;
    border-radius: 0.25rem;
    color: white;
    background: var(--green);
    transition: 0.4s;
}

#search-button-container a:hover{
    color: rgb(8, 8, 8);
    background: white;
    border: 1px solid black;
}

#subscribe-button-container{
    margin: 5.5rem 0 0 0;
    width: 120px;
}

#subscribe-button-container a{
    padding: 0rem 0.5rem 0.1rem 0.5rem;
    border: 1px solid white;
    border-radius: 0.25rem;
    color: white;
    background: var(--green);
}

#subscribe-button-container a:hover{
    color: rgb(8, 8, 8);
    background: white;
    border: 1px solid black;
    transition: 0.4s;   
}

/*Subscribe Form==================================================================================================*/
.Subscribe-Form-Container{
    opacity: 0;
}

.Subscribe-Form-Container.actived{
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    opacity: 1;
    transition: 0.2s;
}

.backgroud-subscribe-container.actived{
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    background: black;
    opacity: 0.7;
}

#SubscribeForm{
    width: 30%;
    height: 20rem;
    margin: 15% 0 0 35%;
    background: white;
    border-radius: 0.25rem;
    text-align: center;
    position: fixed;
}

#Input-Name-container, #Input-Password-container{
    margin: 1rem 0 1rem 0;
}

#Input-Photo-container{
    width: 33.7%;
    margin-left: 33%;
    justify-content: center;
}

#Input-Photo-container #Selected-Photo{
    width: 4rem;
    height: 4rem;
    margin-left: 33%;
    background: #e9e2e2;
    border-radius: 4rem;
}

#Input-Photo-container input {
    display: none;
    margin: 0;
}

#Input-Photo-container label{
    width: 100%;
    background-color: var(--green);
    margin: 0.5rem 0 0 0 ;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
}

.sr-only{  /* "sr-only" = screem reader only (somente leitores de tela)*. Esta class foi adicionada aos labels para que pudéssimos manipular seus conteúdos utilizando o trick (truque) abaixo, a fim de torná-los invisíveis para o usuário, porém permitido sua leitura através das ferramentas de acessibilidade (screem readers) */ 
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#Create-Account-Button-container button{
    padding: 0 0.25rem;
    border-radius: 0.25rem;
}

/*NavBar==========================================================================================================*/
#narbar{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

#navbar-centre-container{
    width: 60%;
    justify-content: center;
    display: inline-flex;
}

#home-link-container, #community-link-container, #bio-link-container{
    width: 110px;
    margin: 0 1rem 0 0;
    padding: 0 0.5rem 0 0.5rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    color: black;
    box-shadow: 0.1rem 0.1rem rgb(148, 144, 144);
}

#home-link-container:hover, #community-link-container:hover, #bio-link-container:hover{
    color: black;
    background: var(--ciane);
    border: 1px solid black;
    padding: 0 0.5rem 0 0.5rem;
    transition: 0.5s;
}

div.in-that-page{
    color: black;
    background: var(--light-green);
    border: 1px solid black;
    padding: 0 0.5rem 0 0.5rem;
}


#home-link, #community-link, #bio-link{
    color: black;
}

/*Body of the Page Home===================================================================================*/
#Section-Spotlights{
    display: inline-flex;
}

#Spotlights-Container{
    width: 100%;
    height: 450px;
    background: #1b4b1b;
    display: inline-flex;
    border-radius: 0.25rem;
    margin-top: 1.5rem;
    box-shadow: 2px 2px rgb(49, 48, 48);;
}

#Spotlights-Text-Container{
    width: 50%;
    height: 90%;
    margin: 2% 0 2% 5%;
    color: white;
}

#Spotlights-Text-Title-Container{
    font-family: 'Courgette', cursive;
    font-size: 35px;
    margin-bottom: 3rem;
    text-align: center;
}

#Spotlights-Text-Presentation-Container{
    font-family: 'Courgette', cursive;
    font-size: 25px;
    margin-bottom: 4rem;
    text-align: justify;
}

#Spotlights-Text-Link-Container{
    font-family: 'Courgette', cursive;
    font-size: 25px; 
}

#Spotlights-Text-Link-Container a{
    text-decoration: none;
    color: white;
}

#Spotlights-Image-Container{
    width: 50%;
    height: 90%;
    margin: 2% 2% 2% 5%;
    border-radius: 0.25rem;
}

#Spotlights-Container #Spotlights-Image-Container a img{
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
}

#Section-Recipes{
    display: inline-flex;
    margin-top: 1rem;
}

#Recipes-Links-Left-Container{
    width: 48.5%;
    height: 100%;
}

#Recipes-Links-Right-Container{
    width: 48.5%;
    height: 100%;
    margin-left: 2.5%;
}

.recipe-link{
    width: 100%;
    height: 15rem;
    margin: 0.7rem 0;
    display: inline-flex;
    border: 1px solid rgb(238, 237, 237);
    border-radius: 0.25rem;
    
}

.recipe-link-text-container{
    width: 65%;
    height: 100%;
    border-radius: 0.25rem 0 0 0.25rem;
    box-shadow: 2px 2px rgb(139, 136, 136);
}

.recipe-link-text-container h1{
    margin: 1rem 0 0.25rem 0;
    font-size: 25px;
}

.recipe-link-text-container h5{
    margin-bottom: 1rem;
    font-size: 20px;
    color: rgb(121, 120, 120);
}

.recipe-link-text-container p{
    width: 90%;
    margin-left: 5%;
    font-size: 20px;
}

.recipe-thumbnail-container{
    width: 35%;
    height: 100%;
    background: rgb(77, 74, 74);
    border-radius: 0 0.25rem 0.25rem 0;
    box-shadow: 2px 2px rgb(139, 136, 136);
}

.recipe-thumbnail-container figure{
    width: 100%;
    height: 100%;
}

.recipe-thumbnail-container figure img{
    width: 100%;
    height: 100%;
}

/*Recipes Visualization====================================================================================*/
.Recipe-container{
    opacity: 0;
}

.Recipe-container.actived{
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    opacity: 1;
    transition: 0.2s;
    
}

.backgroud-recipe-container.actived{
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    background: black;
    opacity: 0.7;
}

#Recipe-centre-conatainer{
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-top: 10%;
    background: white;
    display: inline-flex;
    position: absolute;
    border-radius: 0.5rem;
    border: 1px solid rgb(78, 55, 25);

}

#Recipe-Text-container{
    text-align: center;
    width: 50%;
    height: 100%;
    border: 1px solid rgb(78, 55, 25);
}

div.Recipe-container div#Recipe-centre-conatainer div#Recipe-Text-container h3{
    margin-top: 1rem;
    text-decoration-line: underline;
}

div.Recipe-container div#Recipe-centre-conatainer div#Recipe-Text-container div#p-container{
    text-align: justify;
    width: 80%;
    margin: 5% 10% 5% 10%;
}

#Recipe-Image-container{
    width: 50%;
    height: 100%;
}

#Recipe-Image-container #Recipe-Image{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(78, 55, 25);
    border-radius: 0 0.5rem 0.5rem 0;
}

.Get-out-button{
    width: 5rem;
    height: 5rem;
    margin: 3.5% 0 -6.5% 94%;
    
}

.Get-out-button img{
    width: 3rem;
    height: 3rem;
    position: absolute;
    background: white;
    border-radius: 3rem;
}

/*Body of the Page Community================================================================================================*/
.centre-container{
    text-align: center;
    width: 60%;
    margin-left: 20%;
}

#left-container{
    width: 25rem;
    height: 10rem;
    position: absolute;
    margin-left: 7.5%;
    margin-top: 1rem;
    border: 2px solid rgb(226, 225, 225);
    border-radius: 0rem 1rem 1rem 1rem;
}

#mambrane-se-logo-marilda{ 
    width: 4.5rem;
    height: 4.5rem;
}

#mambrane-se-logo-marilda img{ 
    width: 100%;
    height: 100%;
    margin: 2rem 0.5rem 0 4rem;
}

#mambrane-se-text-container{ 
    width: 100%;
    height: 4rem;
    padding: 1rem 2rem 0 2rem;
    border-radius: 0 0.5rem 0 0;
    text-align: justify;
}

#new-publication-container{
    width: 90%;
    margin: 10% 5% 0 5%;
    text-align: center;
}

#new-publication-container a{
    color: rgb(128, 125, 125);
    border: 1px solid rgb(128, 125, 125);
    border-radius: 0.25rem;
    padding: 0.5rem 2rem;
}

#new-publication-container a:hover{ 
    background: rgb(128, 125, 125);
    color: white;
}

#title-publication-community{ 
    margin-top: 2rem;
    text-align: left;
    margin-left: 24%;
}

.card{
    width: 50%;
    margin-left: 24%;
    text-align: left;
}

.user-perfil-infomation{
    text-align: left;
    display: inline-flex;
    align-items: center;
}

.container-photo-user{
    width: 4rem;
    height: 4rem;
}

.container-photo-user img{
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    margin: -0.25rem 0 0.25rem -0.25rem;
}

.publications-options-bar{
    display: inline-flex;
    justify-content: center;
}

.like-button{
    margin: 0 5rem 0.25rem 0;
    
}

.comment-button{
    margin: 0 0 0.25rem 5rem;
    
}

/*Body of the Page Bio======================================================================================================*/
#Bio-text-container{
    width: 50%;
    height: 100%;
    margin-left: 25%;
    text-align: justify;
}

#Bio-title-text-container{
    width: 100%;
    text-justify: center;
}

#Photo-container-bio{
    width: 28rem;
    height: 28rem;
    margin-top: 4rem;
    position: absolute;
    margin-left: 6%;
    border: 2px solid rgb(226, 225, 225);
    border-radius: 28rem;
}

#Photo-container-bio img{
    width: 100%;
    height: 100%;
    border-radius: 28rem;
}

#right-container{
    width: 10%;
    height: 100%;
    margin-left: 80%;
    position: absolute;
    top: 16rem;
    text-align: center;
}

#nexter-container #Bio-text-container h5, #nexter-container #Bio-text-container h6, #nexter-container #Bio-text-container nav{
    text-align: center;
}

#container-social-medias{
    width: 20%;
    text-align: right;
}

/*Logos(Social Medias) & Linkes===================================================================================*/
.linkes{
    text-decoration: none;
    color: var(--green);
}

.linkes:hover{
    color: var(--light-green);
}

.btn{
    color: var(--green);
}

.social-media-logo{
    width: 4rem;
    height: 2rem;
    margin: 1rem 0 1rem -4rem;
    padding: 0;
    display: inline-flex;
    align-items: center;
}

#instagram-logo, #twitter-logo, #facebook-logo{
    width: 50%;
    height: 100%;
}

#InstaName{
    margin-left: 1rem;
}

#TtName{
    margin-left: 1rem;
}

#FaceName{
    margin-left: 1rem;
}

/*Thumbs==========================================================================================================*/
.card-img-top, .card-img-bottom{
    width: 10rem;
    height: 30rem;
}

.card{
    margin-top: 2.5rem;
}

/*Posts===========================================================================================================*/
.blog-post-meta{
    justify-content: left;
}

/*Footer==========================================================================================================*/
footer{
    color: rgb(60, 119, 121);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    opacity: 0.5;
}
