/*Ageitar a responsividade depois*/

/*Geral===========================================================================================================*/
:root{
    --dark-green:#056e0e;
    --green: #08c030;
    --light-green: #08ec4c;
    --dark-grey: #4e4d4d;
    --light-grey: #969292;
    --ciane: rgb(156, 250, 237);
     
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Courgette', cursive;
}

html{
    font-size: 93.75%; /* 100% = 16px, logo 93.75% = 15px. */
}

.centre-container{
    text-align: center;
    width: 60%;
    margin-left: 20%;
}

body{
    width: 100%;
    height: 100%;
}

/*Header==========================================================================================================*/
header{
    width: 100%;
    height: 150px;
    background: var(--dark-green);
    display: inline-flex;
}

#nome-blog-container{
    width: 32.5%;
    height: 150px;
}

#nome-blog-container h1{
    width: 100%;
    height: 100%;
    font-family: 'Satisfy', cursive;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 800%;
}

#logo-marildas-container{
    margin: 0;
    width: 33%;
    height: 150px;
    padding-top: 10px;
    text-align: center;

}

#logo-marildas-container img{
    width: 130px;
    height: 130px;
}

#Header-Buttons-Container{
    width: 30%;
    display: flex;
    align-items: center;
}

#search-button-container{
    width: 50%;
    height: 150px;
    text-align: right;
    padding-top: 55px;
}

#search-button-container a{
    width: 10px;
    padding: 0rem 0.5rem 0.1rem 0.5rem;
    border: 1px solid white;
    border-radius: 0.25rem;
    color: white;
    background: var(--dark-green);
    transition: 0.4s;
}

#search-button-container a:hover{
    color: rgb(8, 8, 8);
    background: white;
    border: 1px solid black;
}

#subscribe-button-container{
    width: 50%;
    height: 150px;
    text-align: center;
    padding-top: 55px;
}

#subscribe-button-container a{
    width: 10px;
    padding: 0rem 0.5rem 0.1rem 0.5rem;
    border: 1px solid white;
    border-radius: 0.25rem;
    color: white;
    background: var(--dark-green);
}

#subscribe-button-container a:hover{
    color: rgb(8, 8, 8);
    background: white;
    border: 1px solid black;
    transition: 0.4s;   
}

#Profile-container{
    display: inline-flex;
    width: 50%;
    height: 150px;
}

#Config-container{
    width: 50%;
    height: 150px;
    padding-top: 55px;
    text-align: right;
}

#Config-container img{
    width: 30%;
    height: 30%;
    border-radius: 10rem;
    box-shadow: 1px 2px 2px rgb(71, 71, 71);
    
}

#Profile-Photo-container{
    width: 40%;
    height: 150px;
    padding-top: 33px;
    text-align: center;
}

#Profile-Photo-container img{
    width: 60%;
    height: 70px;
    border-radius: 100%;
    box-shadow: 1px 2px 2px rgb(71, 71, 71);
}

/*Config Options======================================================================================================*/
#Config-options-container{
    width: 50%;
    height: 150px;
    padding: 0 0 0 8%;
}

#Close-Config-options-container{
    width: 20px;
    height: 20px;
    margin-left: 75%;
    margin-bottom: 10px;
    margin-top:  4px;
    border-radius: 5rem;
}

#Close-Config-options-container img{
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    background-color: white;
}

#Change-Password-container{
    width: 80%;
    text-align: center;
    border-radius: 0.5rem;
    padding: 2px 0 0 0;
    background-color: rgb(241, 239, 239);
}

#Change-Photo-container{
    width: 80%;
    text-align: center;
    border-radius: 0.5rem;
    padding: 2px 0 0 0;
    background-color: rgb(241, 239, 239);
}

#Unfollow-container{
    width: 80%;
    text-align: center;
    border-radius: 0.5rem;
    padding: 2px 0 0 0;
    background-color: rgb(241, 239, 239);
}

#Change-Password-container a, #Change-Photo-container a, #Unfollow-container a{
    color: black
}
/*Subscribe Form==================================================================================================*/
.Subscribe-Form-Container{
    opacity: 0;
}

.Subscribe-Form-Container.actived{
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    opacity: 1;
    transition: 0.2s;
}

.backgroud-subscribe-container.actived{
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    background: black;
    opacity: 0.7;
}

#SubscribeForm{
    width: 30%;
    height: 20rem;
    margin: 15% 0 0 35%;
    background: white;
    border-radius: 0.25rem;
    text-align: center;
    position: fixed;
}

#Input-Name-container, #Input-Password-container{
    margin: 1rem 0 1rem 0;
}

#Input-Photo-container{
    width: 33.7%;
    margin-left: 33%;
    justify-content: center;
}

#Input-Photo-container #Selected-Photo-container{
    width: 4rem;
    height: 4rem;
    margin-left: 33%;
    background: #e9e2e2;
    border-radius: 4rem;
}

#Input-Photo-container #Selected-Photo-container img#Selected-Photo{
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
}

#Input-Photo-container input {
    display: none;
    margin: 0;
}

#Input-Photo-container label{
    width: 100%;
    background-color: var(--dark-green);
    margin: 0.5rem 0 0 0 ;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
}

.sr-only{  /* "sr-only" = screem reader only (somente leitores de tela)*. Esta class foi adicionada aos labels para que pudéssimos manipular seus conteúdos utilizando o trick (truque) abaixo, a fim de torná-los invisíveis para o usuário, porém permitido sua leitura através das ferramentas de acessibilidade (screem readers) */ 
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#Create-Account-Button-container a{
    padding: 0 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid var(--dark-green);
}

#Create-Account-Button-container a:hover{
    border: 1px solid var(--dark-green);
}

#Close-Error-Button{
    width: 2rem;
    height: 2rem;
    margin-left: 99%;
    margin-top: -1rem;
    background-color: rgb(255, 249, 249);
    border-radius: 2rem;
}

#Throw-Error-container{
    width: 50%;
    margin-left: 25%;
    background-color: rgb(235, 232, 232);
    position: absolute;
    top: 1.5rem;
    padding: 0 1rem 0.5rem 1rem;
    text-align: justify;
    border-radius: 0.5rem;
}

/*NavBar==========================================================================================================*/
#narbar{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

#navbar-centre-container{
    width: 60%;
    justify-content: center;
    display: inline-flex;
}

#home-link, #community-link, #bio-link{
    display: block;
    text-align: center;
    width: 100%;
}

#home-link-container, #community-link-container, #bio-link-container{
    width: 110px;
    margin: 0 1rem 0 0;
    border: 1px solid black;
    border-radius: 0.25rem;
    color: black;
    box-shadow: 0.1rem 0.1rem rgb(148, 144, 144);
}

#home-link-container:hover, #community-link-container:hover, #bio-link-container:hover{
    color: black;
    background: var(--ciane);
    border: 1px solid black;
    padding: 0 0.5rem 0 0.5rem;
    transition: 0.5s;
}

div.in-that-page{
    color: black;
    background: var(--green);
    border: 1px solid black;
    padding: 0 0.5rem 0 0.5rem;
}


#home-link, #community-link, #bio-link{
    color: black;
}

/*Body of the Page Home===================================================================================*/
#Home-Left-container{
    width: 20%;
    height: 100%;
    position: absolute;
    top: 210px;
}

#Pass-left-carousel-button{
    width: 50%;
    height: 360px;
    margin-left: 25%;
}

#Pass-left-carousel-button img{
    width: 100%;
    height: 100%;
}

 #Section-Spotlights{
    display: inline-flex;
}

#Spotlights-Container{
    width: 100%;
    height: 450px;
    background: var(--dark-green);
    display: inline-flex;
    border-radius: 0.25rem;
    margin-top: 1.5rem;
    box-shadow: 2px 2px rgb(49, 48, 48);;
}

#Spotlights-Text-Container{
    width: 50%;
    height: 100%;
    padding: 2% 2% 0% 2%;
    color: white;
    display: table;
}

#Spotlights-Text-Title-Container{
    width: 100%;
    height: 15%;
    font-family: 'Courgette', cursive;
    text-align: center;
}

#Spotlights-Text-Presentation-Container{
    width: 100%;
    height: 75%;
    padding-top: 4%;
    font-family: 'Courgette', cursive;
    text-align: justify;
}

#Spotlights-Text-Link-Container{
    width: 100%;
    height: 10%;
    font-family: 'Courgette', cursive;
}

#Spotlights-Text-Link-Container a{
    text-decoration: none;
    color: white;
}

#Spotlights-Image-Container{
    width: 50%;
    height: 100%;
    padding: 2% 2% 2% 2%;
    border-radius: 0.25rem;
}

#Spotlights-Container #Spotlights-Image-Container a img{
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
}

#Home-Right-container{
    width: 20%;
    height: 100%;
    margin-left: 80%;
    position: absolute;
    top: 210px;
    padding-left: 5%;

}

#Pass-right-carousel-button{
    width: 50%;
    height: 360px;
}

#Pass-right-carousel-button img{
    width: 100%;
    height: 100%;
}

#Title-Marildas-Recipes-container{
    margin-top: 2.5rem;
}

#Section-Recipes{
    display: inline-flex;
    margin-top: 1rem;
}

#Recipes-Links-Left-Container{
    width: 49%;
    height: 100%;
}

#Recipes-Links-Right-Container{
    width: 48.5%;
    height: 100%;
    margin-left: 2.5%;
}

.recipe-link{
    width: 100%;
    height: 200px;
    margin: 0.7rem 0;
    display: inline-flex;
    border: 1px solid rgb(238, 237, 237);
    border-radius: 0.25rem;   
}

.recipe-link-text-container{
    width: 100%;
    height: 100%;
    border-radius: 0.25rem 0 0 0.25rem;
    box-shadow: 2px 2px rgb(139, 136, 136);
}

.recipe-link-text-recipe-name-container{
    width: 100%;
    height: 20%;
    padding-top: 2.5%;
}

.recipe-link-text-date{
    width: 100%;
    height: 10%;
    color: rgb(121, 120, 120);
}

.recipe-link-text-presentation{
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 5% 4%;
}

.recipe-link-text-presentation h6{
    font-size: 120%;
}

.recipe-link-text-openRecipe-container{
    width: 100%;
    height: 15%;
}

.recipe-thumbnail-container{
    width: 35%;
    height: 100%;
    background: rgb(77, 74, 74);
    border-radius: 0 0.25rem 0.25rem 0;
    box-shadow: 2px 2px rgb(139, 136, 136);
}

.recipe-thumbnail-container figure{
    width: 100%;
    height: 100%;
    border-radius: 0 0.25rem 0.25rem 0;
}

.recipe-thumbnail-container figure img{
    width: 100%;
    height: 100%;
    border-radius: 0 0.25rem 0.25rem 0;
}

/*Recipes Visualization====================================================================================*/
.Recipe-container{
    opacity: 0;
}

.Recipe-container.actived{
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    opacity: 1;
    transition: 0.2s;
    
}

.backgroud-recipe-container.actived{
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    background: black;
    opacity: 0.7;
}

#Recipe-centre-conatainer{
    width: 60%;
    height: 85%;
    margin-left: 20%;
    margin-top: 2.5%;
    background: white;
    display: inline-flex;
    position: absolute;
    border-radius: 0.5rem;
    border: 3px dashed rgb(78, 55, 25);

}

#Recipe-Text-container{
    text-align: center;
    width: 50%;
    height: 100%;
    border: 1px dashed rgb(78, 55, 25);
}

div.Recipe-container div#Recipe-centre-conatainer div#Recipe-Text-container h3{
    margin-top: 1rem;
    text-decoration-line: underline;
}

div.Recipe-container div#Recipe-centre-conatainer div#Recipe-Text-container div#p-container{
    text-align: justify;
    width: 80%;
    margin: 2% 10% 5% 10%;
}

#Recipe-Image-container{
    width: 50%;
    height: 100%;
}

#Recipe-Image-container #Recipe-Image{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(78, 55, 25);
    border-radius: 0 0.5rem 0.5rem 0;
}

.Get-out-button{
    width: 5rem;
    height: 5rem;
    margin: 3.5% 0 -6.5% 94%;
    
}

.Get-out-button img{
    width: 3rem;
    height: 3rem;
    position: absolute;
    background: white;
    border-radius: 3rem;
}

/*Body of the Page Community================================================================================================*/
#Community-Right-Container{
    width: 20%;
    height: 100%;
    margin-left: 80%;
    position: fixed;
    display: table-column;
    top: 140px;
}

#Community-Right-Container h3{
    margin: 1rem 0 0 0;
    padding: 0;
    text-align: center;
    text-shadow: 1px 1px rgb(145, 143, 143);
}

#Rank-Container{
    width: 100%;
    height: 100%;
}

.rank-row-container{
    width: 90%;
    margin: 1rem 1rem;
    border: 1px solid rgb(109, 109, 109);
    border-radius: 0.25rem;
    height: 4.5%;
    display: inline-flex;
    box-shadow: 2px 2px rgb(145, 143, 143);
}

.profile-rank-row-container{
    width: 85%;
    height: 100%;
    display: inline-flex;
    background-color: var(--green);
}

.profile-rank-row-container:hover{
    background-color: var(--light-green);
    transition: 0.3s;
}

.profile-photo-rank-row-container{
    width: 17%;
    height: 100%;
    border-radius: 100%;
    background-color: var(--dark-green);
}

.profile-photo-rank-row-container img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

h4.userName-rank-row{
    width: 90%;
    height: 100%;
    padding-left: 8px;
    padding-top: 2.8%;
    color: black;
}

.rank-position-container{
    width: 15%;
    height: 100%;
    padding-top: 2%;
    background-color: rgb(235, 231, 232);
}

.rank-position-container h4{
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
}

#Community-Centre-Container{
    width: 35%;
    margin: 0 auto;
}

#title-publications-community{ 
    margin-top: 2rem;
    text-align: left;
    margin-left: 20%;
    text-shadow: 1px 1px rgb(145, 143, 143);
}

.card{
    width: 100%;
    text-align: left;
    box-shadow: 2px 2px rgb(167, 165, 165);
}

.user-perfil-infomation{
    text-align: left;
    display: inline-flex;
    align-items: center;
}

.container-photo-user{
    width: 4rem;
    height: 4rem;
}

.container-photo-user img{
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    margin: -0.25rem 0 0.25rem -0.25rem;
}

.publications-options-bar{
    display: inline-flex;
}

.like-button{
    width: 50%;
    height: 100%;
    padding: 0.25rem 0 0 0;
    text-align: center;   
}

.comment-button{
    width: 50%;
    height: 100%;
    padding: 0.25rem 0 0 0;
    text-align: center;
}

#left-container{
    width: 30%;
    height: 100%;
    position: fixed;
    top: 150px;
}

#mambrane-se-logo-marilda{ 
    width: 55px;
    height: 55px;
    margin: 3% 0 0 10%;
}

#mambrane-se-logo-marilda img{ 
    width: 100%;
    height: 100%;
}

#mambrane-se-text-container{ 
    width: 30%;
    height: 30%;
    margin: auto;
    display: table;
    padding: 1rem 2rem 0 2rem;
    text-align: justify;
    border: 1px solid rgb(226, 225, 225);
    border-radius: 0.25rem;
    box-shadow: 1px 1px rgb(145, 143, 143);
    text-indent: 50pt;
}

#new-publication-container{
    width: 35%;
    height: 30px;
    margin: 10% auto;
    text-align: center;
    display: table;
    border: 1px solid rgb(128, 125, 125);
    border-radius: 0.25rem;
    padding-top: 2px;
    box-shadow: 1px 1px rgb(82, 81, 81);
}

#new-publication-container a{
    width: 100%;
    height: 100%;
    display: block;
    font-size: 12pt;
    color: rgb(128, 125, 125);
    
}

#new-publication-container:hover{ 
    background: rgb(128, 125, 125);
    transition: 0.2s;
}

#new-publication-container a:hover{
    color: white;
    transition: 0.2s;
}

/*Form New Post===========================================================================*/
.Do-New-Post-container{
    opacity: 0;
}

.Do-New-Post-container.actived{
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    opacity: 1;
    transition: 0.2s;
}

.backgroud-do-new-post-container.actived{
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    background: black;
    opacity: 0.7;
}

#do-new-post-centre-conatainer{
    width: 30%;
    height: 95%;
    margin-left: 35%;
    margin-top: 0.5%;
    background: white;
    position: absolute;
    border-radius: 0.25rem;
}

#new-post-form-container{
    width: 100%;
    height: 100%;
}

#new-post-user-profile-container{
    width: 100%;
    height: 5%;
    display: inline-flex;
}

#new-post-user-profile-photo-container{
    width: 10%;
    height: 100%;
    border-radius: 100%;
}

#new-post-user-profile-photo-container img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#new-post-user-profile-user-name-container{
    width: 50%;
    height: 100%;
    padding: 1.25% 0 0 3%;
    text-align: left;
}

#new-post-text-content-container{
    width: 100%;
    height: 60%;
    padding-top: 6px;
    text-align: center;
}

#new-post-input-title-container{
    width: 100%;
    height: 5%;
}

#New-Post-Input-Title{
    width: 40%;
}

#new-post-input-ingredients-container{
    width: 100%;
    height: 50%;
    padding-top: 10px;
}

#New-Post-Input-Ingredients{
    width: 30%;
}

#new-post-input-ingredients-list-container{
    width: 100%;
    height: 85%;
    padding-top: 6px;
}

#New-Post-Input-Ingredients-List{
    width: 90%;
    height: 100%;
}

#new-post-input-textarea-container{
    width: 100%;
    height: 44%;
    margin-top: 0;
}

#New-Post-Input-Textarea{
    width: 90%;
    height: 100%;
}

#new-post-image-container{
    width: 100%;
    height: 35%;
    border-radius: 0.25rem;
}

#new-post-image-container img{
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
}

/*Body of the Page Bio======================================================================================================*/
#Bio-Left-container{
    width: 30%;
    height: 100%;
    top: 200px;
    position: absolute;
    padding: 5% 0 0 5%;
}

#Photo-container-bio{
    width: 90%;
    height: 50%;
    border-radius: 100%;
}

#Photo-container-bio img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#Bio-text-container{
    width: 70%;
    height: 100%;
    margin-left: 15%;
    text-align: justify;
}

#Bio-title-text-container{
    width: 100%;
    text-align: center;
}

#Bio-Centre-container{
    width: 40%;
    margin-left: 30%;
}

#Bio-Right-container{
    width: 30%;
    height: 100%;
    margin-left: 70%;
    position: absolute;
    top: 200px;
    text-align: center;
}

#container-social-medias{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 15%;
}

/*Logos(Social Medias) & Linkes===================================================================================*/
.linkes{
    text-decoration: none;
    color: var(--dark-green);
}

.linkes:hover{
    color: var(--light-green);
}

.btn{
    color: var(--dark-green);
}

.social-media-logo{
    width: 4rem;
    height: 2rem;
    margin: 1rem 0 1rem -4rem;
    padding: 0;
    display: inline-flex;
    align-items: center;
}

#instagram-logo, #twitter-logo, #facebook-logo{
    width: 50%;
    height: 100%;
}

#InstaName{
    margin-left: 1rem;
}

#TtName{
    margin-left: 1rem;
}

#FaceName{
    margin-left: 1rem;
}

/*Thumbs==========================================================================================================*/
.card-img-top, .card-img-bottom{
    width: 10rem;
    height: 30rem;
}

.card{
    margin-top: 2.5rem;
}

/*Posts===========================================================================================================*/
.blog-post-meta{
    justify-content: left;
}

/*Footer==========================================================================================================*/
footer{
    color: rgb(60, 119, 121);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    opacity: 0.5;
}
